<div class="form-field form-field-toggle">
  <span><%= t[:desc] %></span>
  <div class="toggle-btn-border">
    <div class="toggle-btn"
    id="js-form-toggle-btn"
    data-name="<%= t[:name] %>"
    data-selected="<%= @property_form.send t[:name].to_sym %>"></div>
  </div>
  <div class="hidden">
    <%= simple_form_for(@property_form, remote: true) do |f| %>
      <div class="div" id=<%= "js-hidden-form-#{t[:name]}" %>></div>
      <%= f.submit class:"hidden form-field-submit-button"%>
    <% end %>
  </div>
</div>

