<div class="main-section">
  <div class="banner" style="background-image: url('<%= image_url("banner_image.jpeg") %>'); background-size: cover; background-position: center;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="banner-content">
            <div>
              <h1>Vendez votre logement en quelques minutes</h1>
              <%= simple_form_for(@property_form) do |f| %>
                <%= f.input :address, label: false, input_html: { id: "real_estate_property_address", class: "form-input", placeholder: "Indiquez l'adresse de votre bien" } %>
                <%= f.submit "Demandez votre offre d'achat", class: "form-submit" %>
              <% end %>
              <p>Demandez une offre d'achat pour votre logement et <br>épargnez vous les désagréments liés à la mise en vente.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-press">
      <div class="container">
        <%= image_tag "bfm_logo.svg" %>
        <%= image_tag "echos_logo.svg" %>
        <%= image_tag "franceinfo_logo.svg" %>
        <%= image_tag "parisien_logo.svg" %>
      </div>
    </div>
  </div>

  <div class="landing-prop">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-4 landing-prop-item hidden" id="js-value-prop-sale">
          <%= image_tag "sold-icon.png" %>
          <h3>Vendez simplement</h3>
          <p>Vendez votre bien sans publier d'annonce, organiser les visites et gérer des travaux</p>
        </div>
        <div class="col-xs-12 col-sm-4 landing-prop-item hidden"  id="js-value-prop-move">
          <%= image_tag "move-icon.png" %>
          <h3>Soyez flexible</h3>
          <p>Date de départ flexible en fonction de vos besoins</p>
        </div>
        <div class="col-xs-12 col-sm-4 landing-prop-item hidden"  id="js-value-prop-certainty">
          <%= image_tag "certainty-icon.png" %>
          <h3>Gagnez en certitude</h3>
          <p>Recevez une offre ferme sans condition de financement et épargnez-vous des mois de stress</p>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-steps">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="landing-steps-title text-center">
            <h2>Vendez simplement avec Homepay</h2>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="landing-step">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
              <div class="landing-step-card">
                <h4 class="text-center">1</h4>
                <h3>Décrivez votre bien</h3>
                <p>Répondez à quelques questions et envoyez-nous quelques photos. Nous les enverrons à des acquéreurs présélectionnés.</p>
                <%= link_to "Commencez", new_property_form_path %> | <%= link_to "En savoir plus", how_to_path %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="landing-step-img">
                <%= image_tag 'step_1.png' %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="landing-step">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
              <div class="landing-step-card">
                <h4 class="text-center">2</h4>
                <h3>Recevez des offres</h3>
                <p>Les offres d'achat arrivent en seulement quelques jours.</p>
                <%= link_to "Commencez", new_property_form_path %> | <%= link_to "En savoir plus", how_to_path %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="landing-step-img">
                <%= image_tag 'step_2.png' %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="landing-step">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
              <div class="landing-step-card">
                <h4 class="text-center">3</h4>
                <h3>Choisissez une des offres et organisez une visite confirmatoire en fonction de vos disponibilités</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="landing-step-img">
                <%= image_tag 'step_3.png' %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 text-center">
          <div class = "btn-feature text-center">
            <%= link_to "En savoir plus", how_to_path, class: "btn" %>
          </div>
        </div>
    </div>
  </div>

  <div class="landing-advantages">
    <div class="container text-center">
      <div class="row">
        <h2>La méthode Homepay</h2>
        <div class="col-xs-6">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
