<div class="form-section">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-text-width form-field-logo"></i>
          <span>Surface habitable</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
          <div class="flex">
            <%= f.input :livable_size_sqm, label: false,  placeholder: (@property_form.livable_size_sqm || "m2") %>
          </div>
            <%= f.submit class:"hidden form-field-submit-button" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-warehouse form-field-logo"></i>
          <span>Surface totale de la propriété</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :property_total_size_sqm, label: false, placeholder: (@property_form.property_total_size_sqm || "m2") %>
            <%= f.submit class:"hidden form-field-submit-button"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-section">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-sort-amount-up form-field-logo"></i>
          <span>Nombre d'étages habitables</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :num_floors, label: false,  placeholder: @property_form.num_floors %>
            <%= f.submit class:"hidden form-field-submit-button" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fab fa-flipboard form-field-logo"></i>
          <span>Surface du rez de chaussée en m<sup>2</sup></span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :ground_floor_size_sqm, label: false, placeholder: (@property_form.ground_floor_size_sqm || "m2") %>
            <%= f.submit class:"hidden form-field-submit-button"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-section">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-th-large form-field-logo"></i>
          <span>Pièces</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :num_rooms, label: false, placeholder: @property_form.num_rooms %>
            <%= f.submit class:"hidden form-field-submit-button"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-bed form-field-logo"></i>
          <span>Chambres</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :num_bedrooms, label: false, placeholder: @property_form.num_bedrooms %>
            <%= f.submit class:"hidden form-field-submit-button"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-bath form-field-logo"></i>
          <span>Salles de bains</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :num_bathrooms, label: false, placeholder: @property_form.num_bathrooms %>
            <%= f.submit class:"hidden form-field-submit-button"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
