<div class="form-section">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-field form-field-toggle">
        <div class="toggle-btn"></div>
        <span>Il y'a un balcon</span>
        <div class="hidden">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :has_balcony, label: false %>
            <%= f.submit class:"hidden form-field-submit-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-section">
  <div class="row">
    <div class="form-field-toggle">
      <div class="col-xs-12">
        <div class="form-field form-field-toggle">
          <div class="toggle-btn" id="js-reveal" data-field="property_form_size_terrace_sqm"></div>
          <span>Il y'a une terrasse</span>
          <div class="hidden">
            <%= simple_form_for(@property_form, remote: true) do |f| %>
              <%= f.input :has_terrace, label: false %>
              <%= f.submit class:"hidden form-field-submit-button" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 hidden" id="js-property_form_size_terrace_sqm">
        <div class="form-field form-field-toggle">
          <span style="margin-right: 10px;">Surface</span>
          <div>
            <div class="form-input">
              <%= simple_form_for(@property_form, remote: true) do |f| %>
                <%= f.input :size_terrace_sqm, label: false,  placeholder: (@property_form.size_terrace_sqm || "m2"), input_html: {class:'hidden'} %>
                <%= f.submit class:"hidden form-field-submit-button" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-section">
  <div class="row">
    <div class="form-field-toggle">
      <div class="col-xs-12">
        <div class="form-field form-field-toggle">
          <div class="toggle-btn" id="js-reveal" data-field="property_form_size_cellar_sqm"></div>
          <span>Il y'a une cave</span>
          <div class="hidden">
            <%= simple_form_for(@property_form, remote: true) do |f| %>
              <%= f.input :has_cellar, label: false %>
              <%= f.submit class:"hidden form-field-submit-button" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 hidden" id="js-property_form_size_cellar_sqm">
        <div class="form-field form-field-toggle">
          <span style="margin-right: 10px;">Surface</span>
          <div>
            <div class="form-input">
              <%= simple_form_for(@property_form, remote: true) do |f| %>
                <%= f.input :size_cellar_sqm, label: false,  placeholder: (@property_form.size_cellar_sqm || "m2"), input_html: {class:'hidden'} %>
                <%= f.submit class:"hidden form-field-submit-button" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-section">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-field form-field-toggle">
        <div class="toggle-btn"></div>
        <span>Il y'a un parking</span>
        <div class="hidden">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :has_parking, label: false %>
            <%= f.submit class:"hidden form-field-submit-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

