<div class="form-section">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-text-width form-field-logo"></i>
          <span>Surface du bien</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :livable_size_sqm, label: false,  placeholder: (@property_form.livable_size_sqm || "m2") %>
            <%= f.submit class:"hidden form-field-submit-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-section">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-sort-amount-up form-field-logo"></i>
          <span>Etage</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :appartment_floor, label: false, placeholder: (@property_form.appartment_floor || "m2") %>
            <%= f.submit class:"hidden form-field-submit-button"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-section">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-th-large form-field-logo"></i>
          <span>Pièces</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :num_rooms, label: false, placeholder: @property_form.num_rooms %>
            <%= f.submit class:"hidden form-field-submit-button"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-bed form-field-logo"></i>
          <span>Chambres</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :num_bedrooms, label: false, placeholder: @property_form.num_bedrooms %>
            <%= f.submit class:"hidden form-field-submit-button"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="form-field">
        <div class="form-field-label">
          <i class="fas fa-bath form-field-logo"></i>
          <span>Salles de bains</span>
        </div>
        <div class="form-input">
          <%= simple_form_for(@property_form, remote: true) do |f| %>
            <%= f.input :num_bathrooms, label: false, placeholder: @property_form.num_bathrooms %>
            <%= f.submit class:"hidden form-field-submit-button"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
