<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <%= render 'property_forms/progress_bar/progress_bar', section: 7, name: 'Confirmation' %>
      <div class="form-container">
        <div class="form-title text-center">
          <h1>Confirmation de votre dossier</h1>
        </div>
        <div class="form-body">
          <div class="form-section">
            <div id="map" style="width: 100%;height: 300px; margin-bottom: 20px" data-markers="<%= @marker.to_json %>"></div>
            <p class="text-center"><%= @property_form.address %></p>
          </div>
          <% @property_form.all_pages.each do |page| %>
            <%= render 'property_forms/form_sections/form_section_dispatch', page: page %>
          <% end %>
        </div>
        <%= render 'property_forms/form_validation/form_validation', next_p: 'Finaliser', previous_p: 'Retour' %>
      </div>
    </div>
  </div>
</div>

<%= link_to property_form_validation_path(@property_form), method: :get do %>
  <div class="btn hidden" id="move-to-next-section"></div>
<% end %>
