<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <%= render 'property_forms/progress_bar/progress_bar', section: 1, name: 'Addresse'  %>
      <div class="form-container">
        <div class="form-title text-center">
          <h1>Addresse de votre bien</h1>
        </div>
        <div class="form-body">
          <div class="address-input-form" id="js-form-address">
            <%= simple_form_for(@property_form) do |f| %>
              <div class="form-input">
                <i class="fas fa-map-marker-alt"></i>
                <%= f.input :address, label: false, input_html: { id: "real_estate_property_address", placeholder: "Indiquez l'adresse de votre bien", class: "visible-md-up" } %>
                <%= f.input :address, label: false, input_html: { id: "real_estate_property_address", placeholder: "Indiquez l'adresse", class: "visible-sm-down" } %>
              </div>
              <%= f.submit "Demandez votre offre d'achat", class: "form-submit visible-md-up" %>
              <%= f.submit "Je vends", class: "form-submit visible-sm-down" %>
            <% end %>
          </div>
        </div>
        <div class="form-validation">
        </div>
      </div>
    </div>
  </div>
</div>
