<div class="banner" style="background-image: url('<%= image_url("banner_image.jpeg") %>'); background-size: cover; background-position: center;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="banner-content">
          <div>
            <h1>Des offres enfin sans risque</h1>
            <%= render 'shared/address_form' %>
            <p>Recevez des offres d'achat de professionels de l'immobilier <br> sans conditions suspensives de financement</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="banner-testimonials hidden-xs hidden-sm">
          <div class="banner-testimonial">
            <h4>En vente depuis 92 jours</h4>
            <p>15 visites et des mois de stress</p>
          </div>
          <div class="banner-testimonial banner-testimonial-homepay">
            <h4>Vendu avec Homepay</h4>
            <p>"Meilleure expérience de vente de ma vie"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="landing-prop">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4 landing-prop-item" id="js-value-prop-sale">
        <%= render 'pages/features/certain' %>
      </div>
      <div class="col-xs-12 col-sm-4 landing-prop-item"  id="js-value-prop-move">
        <%= render 'pages/features/select_buyers' %>
      </div>
      <div class="col-xs-12 col-sm-4 landing-prop-item"  id="js-value-prop-certainty">
        <%= render 'pages/features/notary' %>
      </div>
    </div>
  </div>
</div>
